@charset 'UTF-8';
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body{ 
    font-family: 'Noto Sans JP';
    font-size: 18px;
    margin: 0;
    background-image: url('./doraxa.png');
    background-size: 100% auto;
}

.top_box{
    position: absolute;
    width: 100%;
    height: 4%;
    top: 0px;
    background: #0BB0E2;
}

.move{
    display: flex;
}

.back{
    padding: 39px 27px;
    margin-top: 4%;
    margin-left: 4%;
    margin-bottom: 0%;
    text-align: center;
    font-size: 18px;
    background: transparent;
    border: solid;
    border-radius: 50%;
    border-color: #ECD610;
}

.back:hover{
    background: #ECD610;
}

.back:active{
    background: #FFF1AB;
}

.viewtask{
    padding: 23px 5px;
    margin-top: 4%;
    margin-bottom: 0%;
    margin-left: 1%;
    text-align: center;
    font-size: 18px;
    background: transparent;
    border: solid;
    border-radius: 50%;
    border-color: #0BB0E2;
}

.viewtask:hover{
    background: #0BB0E2;
}

.viewtask:active{
    background: lightcyan;
}

h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #ECD610;
    opacity: 0.8;
}

h2{
    text-align: center;
}

.main_upper{
    margin-top: 3%;
    display: flex;
    text-align: center;
}

.main_upper input{
    border: solid;
    border-color: #ECD610;
}

.main_upper button{
    border: solid;
    background: white;
    border-color: #ECD610;
}

.main_upper button:hover{
    background: #ECD610;
}

.main_upper button:active{
    background: #FFF1AB;
}

.time_setting{
    margin-left: 2%;
    margin-right: 1%;
    border: solid;
    border-color: #0BB0E2;
    width: 23%;
    background-color: rgba(255, 255, 255, 0.5);
}

.belong{
    margin-left: 0%;
    margin-right: 2%;
    border: solid;
    border-color: #0BB0E2;
    width: 23%;
    background-color: rgba(255, 255, 255, 0.5);
}

.todo{
    margin-left: 0%;
    margin-right: 1%;
    border: solid;
    border-color: #0BB0E2;
    width: 23%;
    background-color: rgba(255, 255, 255, 0.5);
}

.traffic{
    margin-left: 0%;
    margin-right: 2%;
    border: solid;
    border-color: #0BB0E2;
    width: 23%;
    background-color: rgba(255, 255, 255, 0.5);
}


.main_lower{
    display: flex;
    text-align: center;
    margin-bottom: 4%;
}

.main_lower input{
    border: solid;
    border-color: #ECD610;
    margin-top: 3%;
    margin-bottom: 3%;
}

.main_lower button{
    border: solid;
    background: white;
    border-color: #ECD610;
}

.main_lower button:hover{
    background: #ECD610;
}

.main_lower button:active{
    background: #FFF1AB;
}

.voice{
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 1%;
    border: solid;
    border-color: #0BB0E2;
    width: 47%;
    background-color: rgba(255, 255, 255, 0.5);
}

.voice_sample{
    display: flex;
}

.voice_1{
    margin-right: 1%;
    margin-left: 6.5%;
}

.voice_2{
    margin-left: 1%;
}

.alarm{
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 2%;
    border: solid;
    border-color: #0BB0E2;
    width: 47%;
    background-color: rgba(255, 255, 255, 0.5);
}

.alarm_sample{
    display: flex;
}

.alarm_1{
    margin-right: 1%;
    margin-left: 6.5%;
}

.alarm_2{
    margin-left: 1%;
}