@charset 'UTF-8';
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body{ 
    font-family: 'Noto Sans JP';
    font-size: 30px;
    margin: 0;
    background-image: url('./doraxa.png');
    background-size: 100% auto;
}

.top_box{
    position: absolute;
    width: 100%;
    height: 4%;
    top: 0px;
    background: #0BB0E2;
}

.viewtask{
    padding: 23px 5px;
    margin-top: 4%;
    margin-left: 4%;
    margin-bottom: 0%;
    text-align: center;
    font-size: 18px;
    background: transparent;
    border: solid;
    border-radius: 50%;
    border-color: #ECD610;
}

.viewtask:hover{
    background: #ECD610;
}

.viewtask:active{
    background:#FFF1AB;
}

h1{
    margin-top: 0%;
    margin-bottom: 1%;
    text-align: center;
    font-size: 100px;
}

.subtitle{
    text-align: center;
}

.subtitle h2{
    margin-top: 0%;
    background: linear-gradient(transparent 70%, coral 10%);
    display: inline-block;
}

.main{
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 3%;
    border: solid;
    border-color: coral;
    border-radius: 20px;
    text-decoration: underline;
    text-decoration-color:lightcoral;
    background-color: rgba(255, 255, 255, 0.5);
}

.main p{
    text-align: left;
    font-size: 50px;
    margin-left: 20%;
}